### PyCharm ###

.idea/

### VisualStudioCode ###

.vscode/

### Python ###

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
venv/
